span {
  color: red;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
}
